<app-header-component></app-header-component>
<app-sidebar-component></app-sidebar-component>
<div class="project-create-layout">
  <main class="main-content">
    <div class="project-add-member-container">
      <!-- <div style="text-align: center"> -->
      <h1>Add Team Member</h1>
      <!-- Form Container -->
      <div class="form-container">
        <form [formGroup]="teamMemberForm" (ngSubmit)="onSubmit()">
          <!-------Email Input------->
          <div class="form-field">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="Enter Email"
                id="email"
                formControlName="email"
                type="email"
              />
            </mat-form-field>
            <mat-error>
              <div
                *ngIf="
                  teamMemberForm.get('email')?.invalid &&
                  teamMemberForm.get('email')?.touched
                "
              >
                <div *ngIf="teamMemberForm.get('email')?.errors?.['required']">
                  Email is required.
                </div>
                <div *ngIf="teamMemberForm.get('email')?.errors?.['email']">
                  Enter a valid email.
                </div>
              </div>
            </mat-error>
          </div>
          <!-----------Name Input------------>
          <div class="form-field">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Enter Name" formControlName="name" />
            </mat-form-field>
            <mat-error>
              <div
                *ngIf="
                  teamMemberForm.get('name')?.invalid &&
                  teamMemberForm.get('name')?.touched
                "
              >
                Name is required.
              </div>
            </mat-error>
          </div>
          <!---------Roles Input---------------->
          <div class="form-field">
            <mat-form-field
              appearance="outline"
              class="full-width"
            >
              <mat-label>Roles</mat-label>
              <mat-select formControlName="role">
                <mat-option *ngFor="let role of listOfRoles" [value]="role">
                  {{ role }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-error>
              <div
                *ngIf="
                  teamMemberForm.get('role')?.invalid &&
                  teamMemberForm.get('role')?.touched
                "
              >
                Role is required.
              </div>
            </mat-error>
          </div>
          <!-- <div>
            <label for="role">Role</label>
            <select id="role" formControlName="role">
                <option value="" disabled>Select Role</option>
                <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
            </select>
            <div *ngIf="teamMemberForm.get('role')?.invalid && teamMemberForm.get('role')?.touched">
                Role is required.
            </div>
        </div> -->

          <button
            matButton="filled"
            type="submit"
            color="primary"
            class="cadd-team-member-btn mx-0"
            [disabled]="teamMemberForm.invalid"
          >
            Add Team Member
          </button>
        </form>
      </div>
      <!-- </div> -->
    </div>
  </main>
</div>
