
@use "@angular/material" as mat;

// Include theming for Angular Material
@include mat.theme(
  (
    color: (
      primary: mat.$blue-palette,
    ),
  )
);

/* Global styles */
html,
body {
  height: 100%;
  margin: 0;
  font-family: math;
}

* {
  font-family: math;
}

.mat-typography {
  font-family: math;
}