.table-layout {
  margin: 0 32px;
}
.full-width {
  width: 100%;
}
.header-row {
  background-color: #bcc1bb;
  color: white;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.form-field {
  display: flex;
  justify-content: space-between;
}
